html{
    font-family: $font-base;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color:$white;
}

.dash-wrapper{
    width:100%;
    padding: $space-md 0 $space-md 0;
    background: rgb(195,235,231);
    background: linear-gradient(120deg, rgba(195,235,231,1) 0%, rgba(42,60,78,1) 100%);
}

.image-date-wrapper{
    padding-top: $space-lg;
}

.image-wrapper{
    margin-left: $margin;
}

.date-wrapper{
    margin-left: $margin;
    text-align: center;
}

.location{
    margin-left: $margin;
}


@media screen and (min-width: 568px){
    .location{
        margin-left: 0;
    }
    
}

.logo{
    margin-left: $margin;
}

.down-svg{
    text-align:center;
    margin:auto;
}

main, footer{
    margin: 24px $margin 24px $margin;
}

.info{
    background-color: $dark-blue;
    border-radius: 5px;
    margin-bottom: 4em;
}

.info-item{
    padding: 24px;
}

.buttons{
    margin-bottom: 8em;
    margin-top: 4em;
}
