$white: #efefef;
$black: #141414;
$dark-brown: #231602;
$dark-blue: #2c3e50;
$dark-green: #424A00;
$teal: #5ae2de;
$light-grey: #768a9d;
// $light-green: #d5e9a6;
$light-green: #E4EFD3;
$light-green-hover: ##C8E08F;
$highlight-green: #aed848;
$medium-green: #5d6d18;
