$white: #efefef;
$black: #141414;
$dark-brown: #231602;
$dark-blue: #2c3e50;
$teal: #5ae2de;
$light-grey: #C0CFDE;
$medium-grey: #99AABB;
$dark-grey: #5B636B;
// $light-green: #d5e9a6;
$light-green: #E4EFD3;
$medium-light-green: #C8E08F;
$highlight-green: #aed848;
